<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consent access</title>
</head>

<style>
    .container {
        margin: 300px auto auto;
        width: 30%;
        border: 3px solid #660466;
        padding: 10px;
    }
    .approve-button, .deny-button {
        height: 30px;
        width: 100px;
        border-radius: 30px;
    }
</style>
<body>
<div class="container">
    <p>Dear, <th th:text="${user.username}"/>
    </p>
    <p>The application requires following scopes

        <tr th:each="scope: ${scopes}">
            <td>
                <br/>
                <span th:text="${scope}"></span>
            </td>
        </tr>
    <p></p>
    <form action="/oauth2/consent" method="POST">
        <input type="submit" class="approve-button" value="Approve" name="approved"/>
        <input type="submit" class="deny-button" value="Deny" name="denied"/>
    </form>
</div>
</body>
</html>
